* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

html {

    @media(prefers-red)
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.hero {
    background: rgb(238, 238, 241);
    padding-top: 56px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 162px;
}

.logo {
    display: inline-block;
    width: 96px;
    height: 60px;
}

.header__logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 42px;
}



.nav__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 10%;
}

.nav__link:hover {
    color: rgb(52, 84, 122);
}

.hero__content {
    display: flex;
    gap: 30px;
}

.hero__img-wrap {
    width: 50%;
    text-align: center;

}

.hero__img {}

.hero__deco {
    max-width: 540px;
    font-family: 'Times, serif';
}

.hero_subtitle {
    text-align: left;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-wrap {}

.hero_subtitle {
    margin-bottom: 50%;
}

.title {
    color: black;
    font-size: 48px;
}

.btn {
    background-color: rgb(186, 62, 27);
    text-decoration: none;
    font-weight: 400;
    font-size: 16;
    color: aliceblue;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 25px 40px;
    text-transform: uppercase;
    border: none;
    transition: background 0.3s;
}


.btn:hover {
    background-color: rgb(125, 125, 236);

}

.hero__title {}

.hero {
    background-color: azure;
    min-height: 700;
    padding-bottom: 146px;
    padding-top: 56px;

}

.about {
    padding-top: 119px;
    padding-bottom: 100px;
    text-align: center;

}

.about_content {
    max-width: 540px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.achievements {
    padding: 10% 0;
    background-color: rgb(227, 23, 23);
    align-items: flex-end;

}

.achievements_list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.achievment_desc {
    display: flex;
    justify-content: space-between;
}

.achivments_icon {
    display: flex;
    align-items: flex-end;
}

.achievment_count {
    margin-bottom: 30px;
}

.skills {
    padding: 100px 0;
}


.skills_content {
    display: flex;

}

.skills_desc {
    width: 50%;
    padding-top: 100px;
}

.skills:hover .skill_desc {
    color: #34547a;
}

.skills:hover .skill_meter::-webkit-meter-optimum-value {
    background-color: #eeeff1;
}

.section-title {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills_title {}

.skills_list {}

.skills_item {
    margin-bottom: 26px;
}

.skill_desc {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
    color: rgb(81, 154, 223);
    font-family: 'Times New Roman', Times, serif;
}

.skills_img-wrap {}

.skill_meter {
    width: 400px;
}

.skill_meter::-webkit-meter-bar {
    width: 445px;
    height: 4px;
    border-radius: 0px;
    border: none;
    background-color: cadetblue;
}

.skill_meter::-webkit-meter-optimum-value {
    background-color: beige;

}

.skills_img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_img {
    width: 555px;
    object-fit: contain;
    height: 300px;
}

.demo {
    padding-top: 100;
    padding-bottom: 100px;
    background-color: rgb(151, 152, 154);
    text-align: center;
}

.demo_subtitle {
    max-width: 540px;
    margin: 0 auto 56px;
}

.demo__video-wrap {
    width: 100%;

    position: relative;

}

.demo__video-btn {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 0.3s;
}

.demo__video-btn:active {
    transform: translate(-50%, -50%) scale(0.9);
}




.projects__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.project_item {
    flex: 1 0 25%;

}

.work_link {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.work_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.work_overlay {
    position: absolute;
    background-color: rgba(52, 84, 122, 0.8);
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.work_overlay-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.work_link:hover .work_overlay {
    height: 100%;
}

.clients {
    padding-top: 72px;
    padding-bottom: 100px;
}

.clients_list {
    display: flex;
    justify-content: center;
    gap: 20px 30px;

}

.clients_item {
    flex: 0 1255px;
}


.feedback {
    background-color: #eeeff1;
    padding: 100px 0px 100px;
}

.feedback_content {
    max-width: 540px;
    margin: 0 auto;
}

.feedback_decs {
    text-align: center;
}



.feedback_title {}



.feedback_subtitle {
    margin-bottom: 65px;
}

.form {
    width: 100%;
}

.form_row {
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
}

.from_row:last-child {
    margin: 0;
}

.form_input {
    flex: 1;
    padding: 18px 20px;
    border: none;
    outline: none;
}

.form_input::placeholder {
    color: rgb(255, 0, 0);
}


.form_user-info {}

.from_text {
    width: 540px;
    height: 176px;
    /*запретить*/
    resize: none;
}


.form_inputs {
    margin-bottom: 50px;


}

.form_btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.from_btn {
    padding: 20px;
    min-width: 190px;
    background-color: brown;
}

.footer {

    background-color: rgb(195, 4, 4);
    padding: 15px;
    align-items: flex-end;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer_content {
    flex-direction: column;
    display: flex;
    column-gap: 20px;
}

.lists {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.der {
    display: flex;
    column-gap: 700px;

}

.footer_desc {
    display: block;
    justify-content: flex-end;
    align-items: center;

}

.footer_img {
    width: 23px;
    height: 31px;
    object-fit: contain;
}

.footer_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 26px;
    margin: 0;
    padding: 0;
}

.item_footer {
    margin: 0;
    font-size: 12px;
}

.author {
    font-size: 14px;
}